.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app main {
  display: flex;
  background: #f5f5f5;
  padding-top: 40px;
  height: calc(100vh - 84px);
}

.app header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1116px;
  height: 84px;
}

.header__buttons {
  display: flex;
  margin: 0 auto;
}

.header__buttons button {
  display: flex;
  align-items: center;
  outline: none;
  border: 0;
  background: transparent;
  margin: 0 30px;
  font-weight: 400;
  font-size: 16px;
}

.logo {
  margin-left: 28px;
}

.header__buttons button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.active {
  color: #5e96fc;
}
