.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  background: #f5f5f5;
  padding-top: 40px;
  height: calc(100vh - 84px);
}

.layout header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1116px;
  margin: 0 auto;
}

.header__links {
  display: flex;
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 84px;
}

.header__links a {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 30px;
  font-size: 16px;
  text-decoration: none;
}

.logo {
  width: 141px;
  height: 36px;
  margin-left: 28px;
}

.header__links a:hover {
  opacity: 0.7;
  cursor: pointer;
}

a.active {
  color: #5e96fc;
}

button {
  background-color: transparent;
  border: 0px;
}
